<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="../../css/layui.css">
    <script src="../../layui.js"></script>
    <script src="../../js/vue.min.js"></script>
    <script src="../../js/jquery.js"></script>
</head>
<body>
<div id="app">
    <fieldset class="layui-elem-field layui-field-title" style="margin-top: 30px;">
        <legend>资料类型修改</legend>
    </fieldset>
    <div class="layui-row layui-col-space10">
        <div class="layui-col-md9">


            <div class="layui-form-item">
                <label class="layui-form-label">资源类型</label>
                <select id="ass1" class="layui-form-label-col layui-input-inline" name="assort1" lay-filter="assort1"
                        @change="changeAssort1()" v-model="selectAssort1" lay-verify="required">
                    <option :value="0">请选择</option>
                    <template v-for="assort1 in assort1s">
                        <option :value="assort1.id">{{assort1.assortName}}</option>
                    </template>
                </select>
                <select id="ass2" class="layui-form-label-col layui-input-inline" name="assortId" lay-filter="assort2"
                        @change="changeAssort2()" v-model="selectAssort2" lay-verify="required">
                    <option :value="0">请选择</option>
                    <template v-for="assort2 in assort2s">
                        <option :value="assort2.id">{{assort2.assortName}}</option>
                    </template>
                </select>
            </div>

            <div class="layui-form-item">
                <label class="layui-form-label">资料类型新名称</label>
                <div class="layui-input-inline">
                    <input type="text" :value="assortName" name="assortName" required v-model="assortName"
                           lay-verify="required" placeholder="类型名称" autocomplete="off" class="layui-input">
                </div>
                <label id="warning"></label>
            </div>
            <div class="layui-form-item">
                <div class="layui-input-block">
                    <button class="layui-btn" @click="subbtn()">立即修改</button>
                    <button type="reset" class="layui-btn layui-btn-primary" @click="reset()">重置</button>
                </div>
            </div>
        </div>
    </div>
</div>
<script src="../../js/jquery.cookie.js"></script>
<script>
    function getQueryVariable(variable) {
        var query = window.location.search.substring(1);
        var vars = query.split("&");
        for (var i = 0; i < vars.length; i++) {
            var pair = vars[i].split("=");
            if (pair[0] == variable) {
                return pair[1];
            }
        }
        return (false);
    }

    var assorts;
    var assort2s;
    $.ajax({
        url: "http://47.105.187.18/displayPlatform/assort/getAssorts.do",
        data:{
            labUserCookie: $.cookie("labUserCookie"),
            sendUrl: window.location.href
        },
        type: "get",
        dataType: "json",
        async: false,
        success: function (data) {
            assorts = data;
        }
    });
    var id = getQueryVariable("id");
    var vue = new Vue({
        el: "#app",
        data: {
            assort1s: assorts,
            selectAssort1: 0,
            assort2s: assorts[0].assortList,
            selectAssort2: 0,
            assortName:"",
            assortId:0
        },
        methods: {
            changeAssort1: function () {
                for (var i = 0; i < assorts.length; i++) {
                    if (assorts[i].id == this.selectAssort1) {
                        this.assort2s = assorts[i].assortList;
                        this.selectAssort2 = 0;
                    }
                }
                var asstext1=$("#ass1").find("option:selected").text();
                var asstext2=$("#ass2").find("option:selected").text();
                if(this.selectAssort1!=0&&this.selectAssort2==0){
                    this.assortId=this.selectAssort1;
                    $("#warning").html("此时正在修改----父类----"+asstext1);
                }
                if(this.selectAssort1==0&&this.selectAssort2==0){
                    this.assortId=0;
                    $("#warning").html("请选择要修改的类型");
                }
                if(this.selectAssort2!=0){
                    this.assortId=this.selectAssort2;
                    $("#warning").html("此时正在修改----子类----"+asstext2);
                }
            },
            changeAssort2:function(){
                var asstext1=$("#ass1").find("option:selected").text();
                var asstext2=$("#ass2").find("option:selected").text();
                if(this.selectAssort1!=0&&this.selectAssort2==0){
                    this.assortId=this.selectAssort1;
                    $("#warning").html("此时正在修改----父类----"+asstext1);
                }
                if(this.selectAssort1==0&&this.selectAssort2==0){
                    this.assortId=0;
                    $("#warning").html("请选择要修改的类型");
                }
                if(this.selectAssort2!=0){
                    this.assortId=this.selectAssort2;
                    $("#warning").html("此时正在修改----子类----"+asstext2);
                }
            },
            subbtn: function () {
                $.ajax({
                    url: "http://47.105.187.18/displayPlatform/assort/editAssort.do",
                    type: "post",
                    data: {
                        id: this.assortId,
                        assortName: this.assortName,
                        labUserCookie: $.cookie("labUserCookie"),
                        sendUrl: window.location.href
                    },
                    async: false,
                    success: function (data) {
                        if (data == 1) {
                            window.location.href="materialShow.html";
                        }
                    }
                });
            },
            reset:function(){
                this.assortName="";
                this.assortId=0;
                this.selectAssort1=0;
                this.selectAssort2=0;
                $("#warning").html("");
            }
        }
    });
    layui.use(['layer', 'form'], function () {
        var layer = layui.layer
            , form = layui.form;
        form.on('select(assort1)', function (data) {
            var assort2value = data.value;
            for (let i = 0; i < assorts.length; i++) {
                if (assorts[i].id == assort2value) {
                    assort2s = assorts[i].assortList;
                }
            }
            form.render('select(assort2)');
        });
    });
</script>
</body>
</html>