<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="../../css/layui.css">
    <script src="../../layui.js"></script>
    <script src="../../js/vue.min.js"></script>
    <script src="../../js/jquery.js"></script>
</head>
<body>
<div id="app" class="layui-container">
    <div class="layui-form-item">
        <input type="text" name="title" required  lay-verify="required" placeholder="请输入搜索关键字" autocomplete="off" class="layui-input layui-input-inline">
        <select class="layui-form-label-col layui-input-inline" name="assort1" lay-filter="assort1" @change="changeAssort1()" v-model="selectAssort1" lay-verify="required">
            <template v-for="assort1 in assort1s" >
                <option  :value="assort1.id">{{assort1.assortName}}</option>
            </template>
        </select>
        <select class="layui-form-label-col layui-input-inline" name="assortId"  lay-filter="assort2" v-model="selectAssort2" lay-verify="required">
            <template v-for="assort2 in assort2s" >
                <option  :value="assort2.id">{{assort2.assortName}}</option>
            </template>
        </select>
        <button class="layui-btn">搜索</button>
    </div>
    <table  class="layui-table">
        <colgroup>
            <col width="150">
            <col width="200">
            <col>
        </colgroup>
        <thead>
        <tr>
            <th>资源id</th>
            <th>资源名称</th>
            <th>资源简介</th>
            <th>资源链接</th>
            <th>类别名称</th>
            <th>操作</th>
        </tr>
        </thead>
        <tbody >
            <template v-for="material in materials">
                <tr id="tMaterial">
                    <td>{{material.materialId}}</td>
                    <td>{{material.materialName}}</td>
                    <td>{{material.materialDes}}</td>
                    <td>{{material.materialUrl}}</td>
                    <td>{{material.assortId}}</td>
                    <td>
                        <button class="layui-btn-radius layui-anim-fadein">修改</button>
                        <button class="layui-btn-radius layui-anim-fadein">删除</button>
                    </td>
                </tr>
            </template>
        </tbody>
    </table>
</div>
<script>
    var materials;
    var assorts;
    var assort2s;
    $.ajax({
        url:"http://localhost:8080/getAssorts.do",
        type:"get",
        dataType:"json",
        async:false,
        success:function(data){
            assorts=data;
            console.log(assorts);
        }
    });
    $.ajax({
        url:"http://localhost:8080/getMaterials.do",
        type:"get",
        dataType:"json",
        async:false,
        success:function(data){
            materials=data;
            console.log(materials);
        }
    });
    var vue=new Vue({
        el:"#app",
        data:{
            materials:materials,
            assort1s:assorts,
            selectAssort1:assorts[0].id,
            assort2s:assorts[0].assortList,
            selectAssort2:assorts[0].assortList[0].id
        },
        methods:{
            changeAssort1:function(){
                for(var i=0;i<assorts.length;i++){
                    if(assorts[i].id==this.selectAssort1){
                        this.assort2s=assorts[i].assortList;
                        this.selectAssort2=this.assort2s[0].id;
                        console.log(this.assort2s);
                    }
                }
            }
        }
    });
    layui.use('laypage', function(){
        var laypage = layui.laypage;

        //执行一个laypage实例
        laypage.render({
            elem: 'tMaterial' //注意，这里的 test1 是 ID，不用加 # 号
            ,count: 5 //数据总数，从服务端得到
        });

    });
</script>
</body>
</html>