<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="../../css/layui.css">
    <script src="../../layui.js"></script>
    <script src="../../js/vue.min.js"></script>
    <script src="../../js/jquery.js"></script>
</head>
<body>
<div class="layui-container">
    <div id="app">
        <fieldset class="layui-elem-field layui-field-title" style="margin-top: 30px;">
            <legend>资料添加</legend>
        </fieldset>
        <form>
        <div class="layui-row">
                <div class="layui-form-item">
                    <label class="layui-form-label">资源名称</label>
                    <div class="layui-input-inline">
                        <input type="text" name="materialName" required v-model="materialName" 47.105.187.18/managerPlatform/
                        placeholder="资源名称" autocomplete="off" class="layui-input">
                    </div>
                </div>
                <div class="layui-form-item">
                    <label class="layui-form-label">资源链接</label>
                    <div class="layui-input-inline">
                        <input type="text" name="materialUrl" required v-model="materialUrl" 47.105.187.18/managerPlatform/
                        placeholder="资源链接" autocomplete="off" class="layui-input">
                    </div>
                </div>
                <div class="layui-form-item">
                    <label class="layui-form-label">资源类型</label>
                    <select class="layui-form-label-col layui-input-inline" name="assort1" lay-filter="assort1"
                            @change="changeAssort1()" v-model="selectAssort1" 47.105.187.18/managerPlatform/>
                    <option :value="0">请选择</option>
                    <template v-for="assort1 in assort1s">
                        <option :value="assort1.id">{{assort1.assortName}}</option>
                    </template>
                    </select>
                    <select class="layui-form-label-col layui-input-inline" name="assortId" lay-filter="assort2"
                            v-model="selectAssort2" 47.105.187.18/managerPlatform/>
                    <option :value="0">请选择</option>
                    <template v-for="assort2 in assort2s">
                        <option :value="assort2.id">{{assort2.assortName}}</option>
                    </template>
                    </select>
                </div>

                <div class="layui-form-item layui-form-text">
                    <label class="layui-form-label">资源介绍</label>
                    <div class="layui-input-block">
                    <textarea name="materialDes" v-model="materialDes" placeholder="请输入内容"
                              class="layui-textarea"></textarea>
                    </div>
                </div>
                <div class="layui-form-item">
                    <div class="layui-input-block">
                        <button class="layui-btn" @click="prebtn()">立即提交</button>
                        <button type="reset" class="layui-btn layui-btn-primary" @click="reset()">重置</button>
                    </div>
                </div>
        </div>
        </form>
    </div>

</div>
<script src="../../js/jquery.cookie.js"></script>
<script>
    var assorts;
    var assort2s;
    $.ajax({
        url: "http://47.105.187.18/managerPlatform/assort/getAssorts.do",
        data: {
            labUserCookie: $.cookie("labUserCookie"),
            sendUrl: window.location.href
        },
        type: "get",
        dataType: "json",
        async: false,
        success: function (data) {
            assorts = data;
        }
    });
    var vue = new Vue({
        el: "#app",
        data: {
            assort1s: assorts,
            selectAssort1: assorts[0].id,
            assort2s: assorts[0].assortList,
            selectAssort2: assorts[0].assortList[0].id,
            materialName: "",
            materialUrl: "",
            materialDes: "",
            labUserCookie: $.cookie("labUserCookie"),
            sendUrl: window.location.href
        },
        methods: {
            changeAssort1: function () {
                for (var i = 0; i < assorts.length; i++) {
                    if (assorts[i].id == this.selectAssort1) {
                        this.assort2s = assorts[i].assortList;
                        this.selectAssort2 = this.assort2s[0].id;
                    }
                }
            },
            subbtn: function () {
                window.event.returnValue=false;
                $.ajax({
                    url: "http://47.105.187.18/managerPlatform/material/addMaterial.do",
                    type: "post",
                    data: {
                        materialName: this.materialName,
                        materialUrl: this.materialUrl,
                        assortId: this.selectAssort2,
                        materialDes: this.materialDes,
                        labUserCookie: $.cookie("labUserCookie"),
                        sendUrl: window.location.href
                    },
                    async: false,
                    success: function (data) {
                        if (data == 1) {
                            window.location.href="materialShow.html";
                        }
                    }
                });
            },
            reset:function(){
                this.materialName="";
                this.materialUrl="";
                this.materialDes="";
                this.selectAssort1=0;
                this.selectAssort2=0;
            },
            prebtn:function(){
                if(this.materialName==""||this.materialUrl==""||(this.selectAssort1==0&&this.selectAssort2==0))
                {
                    return false;
                }
                this.subbtn();
            }
        }
    });
    layui.use(['layer', 'form'], function () {
        var layer = layui.layer
            , form = layui.form;
        form.on('select(assort1)', function (data) {
            console.log(data);
            var assort2value = data.value;
            for (let i = 0; i < assorts.length; i++) {
                if (assorts[i].id == assort2value) {
                    assort2s = assorts[i].assortList;
                }
            }
            form.render('select(assort2)');
        });
    });
</script>
</body>
</html>